AuthName "My Protected Area"
AuthType Basic
AuthUserFile C:\xampp\htdocs\solar_monitor\WS\.htpasswd
require valid-user

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ api.php?request=$1 [QSA,NC,L]
</IfModule>